body {
    background-image: url("Imagenes/fondo-1400x860.jpg");
    background-size: cover;
}

header {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header, header nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;  
}

header img {
    width: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav img {
    width: 25px;
    margin-right: 10px;
}

main section {
    width: 40%;
    height: 200px;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(91, 165, 255);
    align-content: flex-end;   
}

.Boton {
    background-color: rgb(91, 165, 255);
    color: white;
    width: 30%;
    height: 40pt;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    border: none;
}

h4 {
    margin-top: 110%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

